- provide(:header_title, "Repayments #{@member}")
.content
    = render partial: "members/inline_tab", locals: { member: @member }
    %table
        %thead
            %tr
                %td Date of transaction
                %td Amount
        %tbody
            - @repayments.each_with_index do |repayment, index|
                - if index % 2 == 0
                    %tr
                        %td= repayment.formatted_dot
                        %td= repayment.amount
                - else
                    %tr.odd_rows
                        %td= repayment.formatted_dot
                        %td= repayment.amount