- provide(:header_title, @member)
.content
    = render partial: "members/inline_tab", locals: { member: @member }
    %table
        %thead
            %tr
                %td Date of transaction
                %td Amount
        %tbody
            - @debits.each_with_index do |debit, index|
                - if index % 2 == 0
                    %tr
                        %td= debit.formatted_dot
                        %td= debit.amount
                - else
                    %tr.odd_rows
                        %td= debit.formatted_dot
                        %td= debit.amount