- provide(:header_title, "List members")
.content
    %ul
        - @members.each do |member|
            %li[member]
                = h(link_to "#{member.first_name} #{member.last_name}", member)
                == #{CURRENCY} #{member.balance_amount}
                = image_tag(member.photo.url(:small))
