- provide(:header_title, "#{@member.first_name} #{@member.last_name}")
.content
    = render partial: "members/inline_tab", locals: { member: @member }
    = form_tag(@member) do
        = select_tag :id, options_for_select(@members), prompt: "-- Select member --", onChange: "window.location.replace('/members/'+this.value)";
    #show_member_details
        %table
            %thead
                %tr
                    %td First name
                    %td Last name
                    %td Date of birth
                    %td Date of join
                    %td Qualification
                    %td Address
                    %td
                    %td
            %tbody
                %tr
                    %td= @member.first_name
                    %td= @member.last_name
                    %td= @member.formatted_dob
                    %td= @member.formatted_doj
                    %td= @member.formatted_qualification
                    %td= @member.address
                    %td.show_member_column= link_to "Edit Details", edit_member_path, class: "edit"
                    %td= link_to "Delete Member", @member, method: :delete, |
                                    class: "delete", confirm: "Are you sure to delete?\n#{@member}"